{% extends "layout.html" %}
{% block body %}
<script type=text/javascript>
    searchx = function() {
        var $q = $("#query").val();
        clear_flash();
        $("#search_results").empty();
        if ($q == ""){
            flash("Please enter a search term.", "error");
        } else {
            $.post($SCRIPT_ROOT + "search/execute", {query: $q, _csrf_token: $csrf_token}, function(data){
                if (data.good){
                    $("#search_results").append("<tr><th style=width:70%;>Thread</th><th>Author</th></tr>" + data.threads);    
                } else {
                    flash("Nothing was found when searching for: " + $q, "error");
                }
            });
        }
    };
</script>
<div id=search_page>
    <div id=search_box style="width:60%;margin:10px auto;">
        <table>
            <tr>
                <td style=width:30%;>Search for:</td>
                <td><input style=width:100%; id=query type=TEXT name=query></td>
            </tr>
            <tr>
                <th colspan=2><a href="#" onclick="searchx()">Search</a></th>
            </tr>
        </table>
    </div>
    <div id=search_results_container>
        <table id=search_results>
        </table>
    </div>


</div>

{% endblock %}
