{% extends "layout.html" %}
{% block body %}
<script>
    search = function(){
        $file = $('input[name=filename]').val();
        $.post($SCRIPT_ROOT + 'upload/search', {filename: $file},function(data){
            $('#search_output').empty();
            $('#search_output').html(data.files);
        });
    };
</script>
<form method="POST" enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>
<form action=# id=search>
    <input type=text name=filename>
    <input type=button onclick=search() value=Search>
</form>
<br>
<div id=search_output>

</div>
{% endblock %}
