{% extends "layout.html" %}
{% block body %}
<script>
    search = function(){
        $file = $('input[name=filename]').val();
        $.post($SCRIPT_ROOT + 'upload/search', {filename: $file, _csrf_token: $csrf},function(data){
            $('#search_output').empty();
            clear_flash();
            if (data.result) {
                $('#search_output').html(data.files);
            } else {
                flash('File search failed.', 'error');
            }
        });
    };
</script>
<form method="POST" enctype=multipart/form-data>
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    <input type=file name=file>
    <input type=submit value=Upload>
</form>
<form action=# id=search>
    <input type=text name=filename>
    <input type=button onclick=search() value=Search>
</form>
<br>
<div id=search_output>

</div>
{% endblock %}
