{% extends "layout.html" %}
{% block body %}
<script src="{{url_for('static', filename='view_thread.js')}}"></script>
    <div id="nav2">
        <h2><a href="{{url_for('home')}}">Index</a> > <a href="{{url_for('view_forum', forum_id=forum_id)}}">{{forum_name}}</a> > {{thread_topic}}</h2>
    </div>

    <div id="new_thread">
        <h2><a href="{{url_for('new_post', thread_id=thread_id)}}">New Reply</a></h2>
    </div>
    <div class="clear"></div>

    <div class="thread_page">
        <table>
            <tr>
                <th colspan=2 class="thread_topic">{{thread_topic}}</th>
            </tr>
        </table>
        {% for post in posts %}
        <div class="post" id="{{post['id']}}">
            <br>
            <table>
                <tr>
                    <th class="post_user_info">{{post['author']}}</td>
                    <td class="post_body_top"><span class="right">{{post['time']}}</span><span class="clear"></span></td>
                </tr>
                <tr>
                    <td class="post_user_info">
                        {% if post['user_id'] == session['user_id'] %}
                        <a href="#"><img src="{{url_for('static', filename='imgs/icon_post_delete.gif')}}" onclick="delete_post({{post['id']}})"></a>
                        {% endif %}
                    </td>
                    <td class="post_body">{{post['message']|safe}}</td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>
{% endblock %}
